[submodule "build/googletest"]
	path = build/googletest
	url = https://github.com/google/googletest.git
[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest
